<div class="text-justify">
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">A propos ⬇️⬇️</h1>
    <br>
    <p class="text-base">
        Je m'appelle Théo, je suis ingénieur informatique français et j'ai 23 ans. Je travaille actuellement 
        dans une société de conseil en ingénierie informatique,
        appelée
        <strong class="text-fuchsia-600">
            <a href="https://www.solutec.fr/" target="_blank" >
                Solutec
            </a>
        </strong> à Lyon.
    </p>
    <br>
    <p class="text-base">
        Avant cela, j'ai également travaillé pendant un an pour une jeune entreprise appelée        
        <strong class="text-fuchsia-600">
            <a href="https://opcodes.fr" target="_blank" >
                Opcodes, 
            </a>
        </strong>
        orientée sur le développement fullstack ainsi que sur le développement de la blockchain, l'audit de sécurité,
        où j'ai principalement travaillé pour des entreprises étrangères (États-Unis, Turquie, Émirats arabes unis).
    </p>
    <br>
    <hr>
    <br>
    <p class="text-base">
        En ce qui concerne mon parcours académique, j'ai obtenu un DUT informatique à l'
        <strong class="text-fuchsia-600">
            <a href="https://iut-charlemagne.univ-lorraine.fr" target="_blank" >
                IUT Nancy-Charlemagne, 
            </a>
        </strong>
        où j'ai acquis des compétences techniques liées à l'<strong>
        ingénierie logicielle, développement web, infrastructure des réseaux et des systèmes, bases de données, 
        développement mobile</strong> ainsi que des compétences générales telles que <strong>
        la communication, les mathématiques, gestion de projet, comptabilité et anglais.</strong>
    </p>
    <p class="text-base">
        Après l'obtention de mon DUT, j'ai suivi un cursus d'ingénieur
        avec une spécialisation en Big Data, à 
        <strong class="text-fuchsia-600">
            <a href="https://www.polytech.univ-smb.fr" target="_blank" >
                Polytech Annecy-Chambéry.
            </a>
        </strong>
        J'ai suivi de nombreux cours liés au domaine de l'ingénierie générale, tels que des cours d'<strong>électricité, 
        mathématiques, programmation orientée objet, algorithmique, automatisation, bases de données.</strong>
        J'ai également suivi des cours de perfectionnement en informatique, tels que <strong>apprentissage automatique, 
        structures de base de données avancées, développement fullstack, tests, programmation fonctionnelle,
        programmation GPU, conception de sites web, graphes et langages, systèmes distribués, Big Data.
        </strong>
        Comme les ingénieurs ont également besoin de compétences générales, j'ai suivi des cours généraux, qui sont les
        suivants :<strong>gestion d'entreprise, gestion de projet, gestion financière, droit 
        appliqué aux domaines des technologies de l'information, de l'innovation, de l'anglais et de la gouvernance des données.</strong>
    </p>
    <p class="text-base">
        Pendant l'été 2021 (de mai à fin juillet),<strong> J'ai fais partie d'une équipe de recherche universitaire 
        </strong>dans le laboratoire d'informatique de l'
        <strong class="text-fuchsia-600">
            <a href="https://www.utad.pt/en" target="_blank" >
                Université de Tras-os-montes e Alto Douro,
            </a>
        </strong>
        où j'ai participé à un projet de recherche consistant à appliquer des modèles d'apprentissage automatique
        à des images hyperspectrales pour détecter une maladie (Flavescence Doree) attaquant les vignes de porto.
        <strong>Nos recherches ont abouti à la publication d'un article de recherche scientifique</strong>,qui 
        qui a été présenté lors d'une conférence et publié. Vous pouvez le trouver 
        <strong class="text-fuchsia-600">
            <a href="https://www.sciencedirect.com/science/article/pii/S1877050921022201" target="_blank" >
                ici.
            </a>
        </strong>
    </p>
    <br>
    <hr>
    <br>
    <p class="text-base">
        Par ailleurs, j'ai de nombreux centres d'intérêt. <strong>J'aime passer du temps avec ma famille
        et mes avis. J'aime également voyager</strong>, visiter de nouveaux pays et découvrir de nouvelles cultures.
        Mon voayage de rêve serait de visiter l'Asie car j'y découvrirais un mode de vie différent de celui en Occident (je pense).
        <br>
        J'aime également jouer aux jeux vidéos, ainsi que regarder des streams, séries et films. Je m'interesse également
        aux nouvelles technologies et particulièrement à la blockchain et à l'IOT. <strong>La dernière chose important</strong>
        , est que j'adore le football, je suis fan de l'<strong>Olympique Lyonnais</strong>
        , et j'aime aller au stade les supporter !
    </p>
    <br>
</div>