<div class="text-justify">
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">About me</h1>
    <br>
    <p class="text-base">
        My name is Théo, I'm a french IT engineer and I'm 23 years old. I'm currently 
        working for an engineering consulting firm in IT,
        called 
        <strong class="text-fuchsia-600">
            <a href="https://www.solutec.fr/en" target="_blank" >
                Solutec,
            </a>
        </strong> in Lyon (France).
    </p>
    <p class="text-base">
        Before that, I also worked a year for a startup company named
        <strong class="text-fuchsia-600">
            <a href="https://opcodes.fr" target="_blank" >
                Opcodes, 
            </a>
        </strong>
        focused on fullstack development as well as blockchain development and security audit,
        where I mostly worked for foreign companies (United-states, Turkey, United Arab Emirates).
    </p>
    <br>
    <hr>
    <br>
    <p class="text-base">
        Regarding my academic background, I completed an computer science technical degree at
        <strong class="text-fuchsia-600">
            <a href="https://iut-charlemagne.univ-lorraine.fr" target="_blank" >
                IUT Nancy-Charlemagne, 
            </a>
        </strong>
        where I acquired technical competencies related to <strong>
        software engineering, web development, network and systems infrastructure, databases, 
        mobile development</strong> as well as general skills such as <strong>
        communication, mathematics, project management, accounting and english.</strong>
    </p>
    <p class="text-base">
        After the completion of my technical degree, I followed a 3 years engineering cycle
        with a specialization in Big Data, at 
        <strong class="text-fuchsia-600">
            <a href="https://www.polytech.univ-smb.fr/en" target="_blank" >
                Polytech Annecy-Chambéry.
            </a>
        </strong>
        I had many courses related to general engineering field, like <strong>electricity, 
        mathematics, object oriented programming, algorithmic, automation, databases.</strong>
        I also had advances courses in computer science, such as <strong>machine learning, 
        advanced database structures, fullstack development, testing, fonctionnal programming,
        GPU programming, web design, graphs and languages, distributed systems, Big Data.
        </strong>
        As engineers also need general competencies, I attended general courses, which are the
        following: <strong>company management, project management, financial management, law 
        applied to IT field, innovation, english, and data governance.</strong>
    </p>
    <p class="text-base">
        During summer 2021 (May to end of July),<strong> I part of an academic research team 
        </strong>in the computer science laboratory of the
        <strong class="text-fuchsia-600">
            <a href="https://www.utad.pt/en" target="_blank" >
                University of Tras-os-montes e Alto Douro,
            </a>
        </strong>
        where I participated in a research project, consisting of applying machine learning models
        to hyperspectral images to detect a disease (Flavescence Doree) attacking porto vines.
        <strong>Our research led to the publication of a scientific research paper</strong>, that 
        has been presented in a conference and published. You can find it 
        <strong class="text-fuchsia-600">
            <a href="https://www.sciencedirect.com/science/article/pii/S1877050921022201" target="_blank" >
                here.
            </a>
        </strong>
    </p>
    <br>
    <hr>
    <br>
    <p class="text-base">
        Besides that, I have many points of interest. <strong>The major one is to spend time with my family and
        friends</strong>, as I love their company. <strong>I also love to travel abroad</strong>, visit new countries 
        and discover new cultures. My dream journey would be to visit asian countries like Japan, Korea or
        China, as I think I would discover a different way of living than in the West.<br>
        I enjoy playing videos games and watching streams, series and films ! I like new technologies as
        well, especialy blockchain and IOT. <strong>The last important thing</strong>, is that I'm in fond of football, 
        and a fan of <strong>Olympique Lyonnais</strong>, and love to go the stadium to support them !
    </p>
</div>