<div class="w-full h-full md:flex">
    <div class="md:w-1/4 flex text-center mb-8">
        <div class="mx-auto my-auto">
            <img class="lg:h-64 lg:w-64 h-48 w-48 mx-auto" src="../../../assets/logo.png"/>
            <ul class="ml-0 mr-0 ml-auto mr-auto text-lg w-full sm:2/4">
                <li class="cursor-pointer inline md:block mx-1 md:m-0" *ngFor="let menuItem of menuList" (click)="changeColor(menuItem)"
                    [ngClass]="{'selected': menuItem.isSelected}">
                    <strong>{{menuItem.name}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div  [ngSwitch]="route" class="w-2/4 overflow-y-scroll scrollbar-hide ml-auto mr-auto md:ml-12 md:mr-0">
        <div *ngSwitchCase="'Accueil'"><app-home></app-home></div>
        <div *ngSwitchCase="'A propos'"><app-about></app-about></div>
        <div class="h-full" *ngSwitchCase="'Stack'"><app-stack></app-stack></div>
        <div *ngSwitchCase="'Avis'"><app-vouch></app-vouch></div>
    </div>
</div>