<div class="w-full h-full flex">
    <div class="w-1/4 mt-auto mb-auto flex text-center">
        <ul class="ml-auto mr-auto text-lg">
            <li class="cursor-pointer" *ngFor="let menuItem of menuList" (click)="changeColor(menuItem)"
                [ngClass]="{'selected': menuItem.isSelected}">
                <strong>{{menuItem.name}}</strong>
            </li>
        </ul>
    </div>
    <div  [ngSwitch]="route" class="w-2/4 overflow-y-scroll scrollbar-hide">
        <div *ngSwitchCase="'Home'"><app-home></app-home></div>
        <div *ngSwitchCase="'About'"><app-about></app-about></div>
        <div class="h-full" *ngSwitchCase="'Stack'"><app-stack></app-stack></div>
        <div *ngSwitchCase="'Vouch'"><app-vouch></app-vouch></div>
    </div>
</div>