<div class="h-full">
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">⬅️ Stack technique et soft skills ➡️</h1>
    <br>
    <div class="h-3/4 flex">
        <div>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Langages</h3>
            <br>
            <p>Javascript / Typescript / HTML / CSS / Java / Python / Solidity</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Frameworks</h3>
            <br>
            <p>React / NextJS / NestJS / Angular / Springboot / Tailwind</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Base de données</h3>
            <br>
            <p>MySql / MongoDB / Oracle / Redis</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Outils</h3>
            <br>
            <p>VS Code / Intellij / Eclipse / Docker / Git / Maven / Foundry / Hardhat / Truffle</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Soft skills</h3>
            <br>
            <p> Curieux et désireux d'apprendre / Bonne communication / Aime la vie d'équipe / Autonome /
                 Résolution de problèmes 
            </p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Langues</h3>
            <br>
            <p>Français / Anglais</p>
            <br>
        </div> 
    </div>
</div>
