<div class="h-full">
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">Technical stack</h1>
    <br>
    <div class="h-3/4 flex">
        <div>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Languages</h3>
            <br>
            <p>Javascript / Typescript / HTML / CSS / Java / Python / Solidity</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Frameworks</h3>
            <br>
            <p>React / NextJS / NestJS / Angular / Springboot / Tailwind</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Databases</h3>
            <br>
            <p>MySql / MongoDB / Oracle / Redis</p>
            <br>

            <hr>
            <h3 class="!font-kusei !font-bold !text-xl !font-serif">Tools</h3>
            <br>
            <p>VS Code / Intellij / Docker / Git</p>
            <br>
        </div> 
    </div>
</div>
