<div>
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">Theo Bernardin</h1>
    <br>
    <p class="text-base">
        Hello, my name is Théo. I'm currently <strong class="text-fuchsia-600">  
        <a href="https://www.solutec.fr/en" target="_blank"> working for Solutec as an IT engineer</a>,
        </strong> where I help companies solve their problems related to fullstack development
        and software engineering.
    </p>

    <img class="rounded-full w-72 h-72" src="https://avatars.githubusercontent.com/u/47392406?v=4">
    <br>
    <p class="text-base">
        I love to spend time w/ family and friends. I also love to go to the stadium, watching
        games from <strong class="text-fuchsia-600"><a href="https://www.ol.fr/en">OL</a></strong> (even better when they win 😢). 
        Regarding new technologies, I have a lot of interest in <strong class="text-fuchsia-600">blockchain</strong> and <strong class="text-fuchsia-600">IOT</strong> !
    </p>
    <br>
    <p class="text-base">
        Want to talk ? please <strong class="text-fuchsia-600">contact me</strong>, I would be glad to chat whathever the subject is ! 😃
    </p>
</div>
