<div class="text-justify">
    <h1 class="!font-kusei !font-bold !text-3xl !font-serif">Theo Bernardin ⬆️⬆️</h1>
    <br>
    <p class="text-base">
        Bonjour, je m'appelle Théo. Je suis actuellement <strong class="text-fuchsia-600">  
        <a href="https://www.solutec.fr/" target="_blank"> en poste chez Solutec en qualité 
            d'ingénieur consultant en informatique
        </a>,
        </strong> où j'aide les entreprises à résoudre leurs problèmes liés au développement fullstack
        et à l'ingénierie logicielle.
    </p>

    <br>
    <img class="rounded-full md:w-72 md:w-72" src="https://avatars.githubusercontent.com/u/47392406?v=4">
    <br>
    <p class="text-base">
        J'aime passer du temps avec ma famille et mes amis. J'aime aussi aller au stade, regarder les matchs de
        <strong class="text-fuchsia-600"><a href="https://www.ol.fr/">l'OL</a></strong> (et encore plus quand ils gagnent 😢). 
        J'aime aussi les nouvelles technologies, et plus particulièrement la <strong class="text-fuchsia-600">blockchain</strong> 
        ainsi que l'<strong class="text-fuchsia-600">IOT</strong> !
    </p>
    <br>
    <p class="text-base">
        Un easter egg se cache dans ce site, trouvez le ! (indice: konami)
    </p>
    <br>
    <p class="text-base">
        Envie de discuter ? <strong class="text-fuchsia-600">Contactez moi</strong>, J'en serais ravi quelque soit le sujet ! 😃
    </p>
    <br>
    <div class="grid lg:grid-cols-4 gap-4">
        <a href="mailto: theo.bernardin@gmail.com" target="_blank" >
            <button mat-raised-button color="primary" class="w-full">
                    <mat-icon>email</mat-icon>
                    Mail
            </button>
        </a>

        <a href="https://github.com/Theo0x1337" target="_blank" >
        <button mat-raised-button color="primary"  class="w-full">
            <mat-icon>code</mat-icon>
            Github
        </button>
        </a>
        <a href="https://www.linkedin.com/in/theo-bernardin/?originalSubdomain=fr" target="_blank" >
        <button mat-raised-button color="primary"  class="w-full">
            <mat-icon>person</mat-icon>
            Linkedin
        </button>
        </a>
    </div>
    <br>
</div>
